.listing{
    padding: 1em;
    text-align: start;
    border-radius: 8px;
    border: solid 1px var(--secondary-color);
    background-color: #e6f7ff;
    margin: 1em 0;

    > h2{
        margin: 0;
    }

    > p {
        margin-left: 1em;
    }
}