.root{
    --background-color: #3b3b3b;
}

.listing{
    padding: 1em;
    text-align: start;
    border-radius: 8px;
    background-color: var(--background-color);
    border: solid 1px var(--secondary-color);
    margin: 1em 0 0;

    > h2{
        margin: 0 0 0.25em 0;
    }

    > p {
        margin-left: 1em;
    }

    > .listing-options{
        margin: 0.75em 0 0;

        > button{
            border: solid 1px var(--secondary-color);
            background-color: var(--background-color);
            border-radius: 8px;
            padding: 0.25em 0.5em;
            color: white;
        }

        > button:hover{
            cursor: pointer;
            background-color: #1a237e;
            color: white;
        }
    }
}