section{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home{
    justify-self: center;
    flex-direction: column;

    padding:0;
    margin:0;
    
    width: 100%;
    height: 100%; 

    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 100%);
    position: relative;
}

.greeting{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #555;
}

.counter{
    flex-direction: column;
    gap: 10px;
}

.counter-buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.fgo{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1em;
}