<section class="home">
    <h1 class="greeting">Home Sweet Home</h1>

    <section class="counter">
        <h2>Count: {{count}}</h2>
        <div class="counter-buttons">
            <button (click)="incrementCount()" class="primary">PLUS</button>
            <button (click)="decrementCount()" class="primary">MINUS</button>
            <button (click)="resetCount()" class="primary">RESET</button>
        </div>
    </section>

    <section class="fgo">
        <div class="fgo-item" *ngFor="let servant of servants">
            <div class="fgo-servant">
                <h3 class="fgo-tooltip-text">{{servant.name}}</h3>
                <img class="fgo-servant-icon" src="{{servant.face}}"/>
            </div>
        </div>
    </section>
</section>
