section{
    padding: 1em;
    border-radius: 8px;
    border: solid 1px var(--primary-color);
    background-color: aliceblue;
    color: #1a237e
}

.create-dsp-note{
    padding: 0.5em;
    width: fit-content;
    background-color: #e6f7ff;
}

.create-dsp-note:hover{
    cursor: pointer;
    background-color: #1a237e;
    color: white;
}

.dspNoteList-heading{
    margin-bottom: 0.5em;
}