section{
    padding: 1em;
    border-radius: 8px;
    border: solid 1px var(--primary-color);
    background-color: rgb(50, 50, 50);
    color: #ececec
}

.create-dsp-note{
    padding: 0.5em;
    width: fit-content;
    background-color: #3b3b3b;
}

.create-dsp-note:hover{
    cursor: pointer;
    background-color: #1a237e;
    color: white;
}

.dspNoteList-heading{
    margin-bottom: 0.5em;
}