<section class="dspNoteList">
    <h2 class="dspNoteList-heading">Dyson Sphere Program Notes</h2>
    <form id="dspNoteForm" [formGroup]="dspNoteForm" (ngSubmit)="onSubmit()">
        <input id="noteName" type="text" placeholder="Note Name" formControlName="dspNoteNameControl"/>
        <input id="noteDescription" type="text" placeholder="Note Description" formControlName="dspNoteDescriptionControl"/>
        <label id="noteSystemLabel">Star System:</label>
        <select id="noteSystem" formControlName="dspNoteSystemControl">
            <option *ngFor="let system of dspSystemsList" [value]="system._links.self.href">{{system.name}}</option>
        </select>
        <button class="create-dsp-note" type="submit" [disabled]="!dspNoteForm.valid">Add</button>
    </form>
    <app-dsp-note
        *ngFor="let note of dspNotes"
        [dspNote]="note"
        (deleteDspNote)="deleteDspNote($event)"
        >
    </app-dsp-note>
</section>